{#
  Title: Map
  Description: Map
  Category: formatting
  Icon: location
  Keywords: map
  Mode: edit
  SupportsAlign: center
  SupportsMode: false
  SupportsMultiple: false
#}


{# Requires an ACF image field called 'map_background' adding to 'site options' in the ACF options page. #}
{% if options.map_background %}
    {% set map_background = options.map_background.url|resize(1920, 1080, 'center')|towebp %}
    <style>
        .map-background {
            background-image: url({{ map_background }});
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
    </style>
{% endif %}

<div class="relative z-10 pt-84 map-background lg:pt-64 xl:pt-32 2xl:pt-0">
    <div id="leafletMap" class="w-full h-[550px] lg:h-[900px] 2xl:h-[800px]"></div>

    {% if options.map_cta_text %}
        <div class="container flex absolute right-0 left-0 top-28 justify-center items-start w-full lg:items-center lg:top-20 2xl:justify-start 2xl:top-0 2xl:h-full">
            <div class="drop-shadow-2xl doodle-border max-w-[570px] relative z-[99999] 3xl:max-w-[576px]">
                <div class="~p-6/12 doodle-lg-cream bg-cream">
                    {% for cta in options.map_cta_text %}
                    {% set count = loop.index %}
                        <p class="{{ loop.first ? 'title text-dark-green ~text-3xl/5xl ~mb-8/6' : 'text-black-green ~text-sm/base' }} animate fadeIn delay-{{ count }}">{{ cta.text }}</p>
                    {% endfor %}

                    {% if options.map_ctas %}
                        <div class="flex flex-wrap ~gap-2/4 items-center mt-10 animate fadeIn delay-1">
                            {% for cta in options.map_ctas %}
                                {% include "_atoms/button.twig" with {
                                    doodleClass: '',
                                    link: cta.map_cta.url,
                                    text: cta.map_cta.title,
                                    colour: loop.index is even ? 'green' : 'dark-green',
                                    btnClass: 'btn--large',
                                    icon: 'angle-right',
                                    iconPosition: 'right',
                                } %}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}
</div>