{#
  Title: Why Choose Us Carousel
  Description: Why Choose Us Carousel
  Category: formatting
  Icon: grid-view
  Keywords: why us pages cards carousel
  Mode: edit
  SupportsAlign: center
  SupportsMode: true
  SupportsMultiple: true
#}

{# Why Us Carousel #}

<div class="py-6 outer-container bg-primary fade-in-viewport">

    <div class="container">

        {% include "_components/why-choose-us.twig" %}

    </div>  

</div>